img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 35px;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  input {
    font-size: 22px;
    vertical-align:middle;
    border: none;
    width: 400px;
  }
  
  button {
    background-color: rgb(65, 130, 242);
    color: white;
    font-weight: bold;
    font-size: 22px;
    border: none;
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
  }

  div {
    display: inline-block;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-radius: 10px;
  }